!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PVDataStorage
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    #topheader
      %header.navbar.navbar-fixed-top.navbar-inverse{:style => "background-color: #4285F4;"}
        .container
          .nav
            %ul.nav.navbar-nav
              %li.nav-item
                %a.navbar-brand{:href => "https://mecanica.utcluj.ro/", :type => "button", target: '_blank'}
                  %img.img-responsive.logo{:src => "https://old.utcluj.ro/download/id/SIMBOLURI/01-sigla/JPG/Romana/Varianta%202_negru.jpg", :height => "145", :width => "145"}
              %li{class: action_name == 'about' ? 'active' : ''}
                = link_to "About", static_pages_about_path
              %li{class: action_name == 'weatherstation' ? 'active' : ''}
                = link_to "Weather Station", static_pages_weatherstation_path
              %li{class: action_name == 'liveproduction' ? 'active' : ''}
                = link_to 'Live Performance', static_pages_liveproduction_path
              %li{class: action_name == 'history' ? 'active' : ''}
                = link_to 'History', static_pages_history_path
    %body
= yield
